@font-face {
  font-family: "FuturaBookC";
  src: url("./assets/project/repaire/assets/fonts/FuturaBookC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "FuturaBookC", serif;
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, minmax(10px, auto));
  padding: 0 15px;
  justify-items: center;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 15px;
  width: 100%;
  max-width: 100%;
}
.header--picture {
  border-radius: 50%;
  width: 180px;
  height: auto;
  align-self: center;
  margin-bottom: 10px;
}
.header--contact_information {
  align-self: center;
}
.header .contact--title {
  margin-bottom: 20px;
}
.header .contact--list {
  list-style: none;
}
.header .contact--list-elem {
  padding: 0 0 2%;
}
.header .contact--list-elem a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.header .contact--list-elem a:hover {
  color: #333333;
}

.education {
  width: 60%;
  max-width: 100%;
}
.education .panel {
  border: 2px solid #8f8e8e;
  padding: 10px;
}
.education .panel--list {
  margin: 0;
  padding-left: 20px;
  display: none;
  animation-name: block;
  animation-duration: 1s;
}
.education .panel--title {
  font-size: 18px;
  cursor: pointer;
}
.education .panel.open .panel--list {
  display: block;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider--link {
  display: none;
}
.slider .description.mobile_show {
  display: none;
}
.slider .carousel {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
}
.slider .carousel--container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider .carousel--container-item {
  display: none;
  position: relative;
  margin: 0 auto;
}
.slider .active,
.slider .next {
  display: block;
}
.slider .next {
  position: absolute;
  top: 0;
  width: 100%;
}
.slider .description_mobile {
  display: none;
}
.slider .description {
  display: flex;
  margin: 30px 20%;
  justify-content: space-between;
}
.slider .description--about-title {
  font-size: 1.4rem;
  font-weight: bold;
}
.slider .description--about-list {
  font-size: 1rem;
  list-style: none;
  margin-bottom: 10px;
}
.slider .description--about-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.slider .description--about .block--span-two {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #8f8e8e;
  width: 30px;
}
.slider .description--link {
  display: block;
  z-index: 99;
  width: 100%;
}
.slider .description--link-img {
  width: 300px;
  height: auto;
}
.slider .control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  cursor: pointer;
}
.slider .control.left {
  left: 0;
  right: auto;
}
.slider .control.left:hover {
  background: linear-gradient(to left, white, #f5f4f4);
}
.slider .control.right {
  left: auto;
  right: 0;
}
.slider .control.right:hover {
  background: linear-gradient(to right, white, #f5f4f4);
}
.slider .arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  color: #8f8e8e;
}
.slider .arrow.right {
  right: 50%;
}
.slider .to-left {
  animation-name: left;
  animation-duration: 1s;
}
.slider .to-right {
  animation-name: right;
  animation-direction: reverse;
  animation-duration: 1s;
}
.slider .from-left {
  animation-name: left;
  animation-direction: reverse;
  animation-duration: 1s;
}
.slider .from-right {
  animation-name: right;
  animation-duration: 1s;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@media (max-width: 960px) {
  .header--picture {
    width: 140px;
  }

  .education {
    margin-bottom: 10px;
  }

  .slider {
    position: relative;
    padding-top: 40px;
  }
  .slider--link {
    display: block;
    z-index: 10000;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #8f8e8e;
    text-decoration: none;
    width: 100px;
    text-align: center;
    color: #8f8e8e;
  }
  .slider .description_mobile {
    border: 2px solid #8f8e8e;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -40px);
    background-color: #fff;
  }
  .slider .description_mobile .description_mobile--span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .slider .description_mobile--about {
    display: none;
  }
  .slider .description_mobile--about-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .slider .description_mobile--about-list {
    font-size: 1rem;
    list-style: none;
    margin-bottom: 10px;
  }
  .slider .description_mobile.open2 .description_mobile--about {
    display: block;
  }

  .description {
    flex-direction: column;
    align-items: center;
  }
  .description--about-title {
    display: none;
  }
  .description--about-list {
    display: none;
  }
  .description--about-block.block {
    display: none;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 14px;
  }

  .wrapper .header {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-auto-rows: minmax(200px, auto);
  }
  .wrapper .header--picture {
    align-self: center;
  }
  .wrapper .education {
    grid-auto-rows: minmax(50px, auto);
    width: 90%;
    margin-bottom: 20px;
  }

  .arrow.right,
.arrow.left,
.control.left,
.control.right {
    display: none;
  }

  .slider .description {
    border: 0;
    margin: 0;
  }
  .slider .description--about-title {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
